body{
	padding-top:110px;
}
#top-bar{
	position:fixed;
	top:0;
	z-index:9999;
}
#az-index{
	height:30px;
	min-height:30px;
	max-height:30px;
	position:fixed;
	top:40px;
	z-index:99;
}
#logo img {
 	float:left;
	margin-right:10px;
	margin-top:0;
}
#logo h1 {
	font-size: 30px;
	line-height: 30px;
	font-family: Georgia, Times, Roman;
	text-shadow: 1px 0 1px #AAAAAA;
	padding-top:20px;
	float:left;
}
.nav-tabs > li > a, .nav-pills > li > a {
 padding:8px;
 font-size:11px;
}
.nav-tabs > li > a [class^="icon-"] {
 display:block;
}
.carousel-caption h4 {
 font-size:18px;
}
.wellness-slider {
 width:100%;
}
h1{
	font-size:30px;
	line-height:30px;
}
h2{
	font-size:27px;
	line-height:27px;
}
#footer-logo img{
	float:left;
}